html, body {
    height:100%;
    margin:0;
    padding:0;
    background: linear-gradient(to right, #00AAFF, #00AAFF);
}

header{
    width: 100%;
    background: #00AAFF;
    position: fixed; 
    top: 0;
    text-align: center;
    height: 16% !important;
    z-index:110;
}
h1 {
    font-size: 3vh;  
    font-weight: bold;
    border: 2px solid black;
    text-align: center
}

h2 {
    font-size: 2vh;  
    text-align: center;
    font-weight: normal
}

.content {
    position:relative;
    height: 100%;
    width:90%; /* Sizing - any length */
    padding:80px 0 20px 0; /* Header height and footer height */
    margin:0 auto 0 auto; /* Center content */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;    
}

.sidebar2 {
    background:#45ff00;
    height:100%;
    width: 50%;
    top:0;
    padding-top:50px;
    position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr auto 1fr auto 1fr;    
}

.output-grid {
    display: grid;
    justify-content:flex-start;
    align-content:center;
    min-height: 25vh;
    grid-template-columns: repeat(1,200px);
    grid-template-rows: minmax(60px,auto) repeat(40,32px);
}

.output-grid > output {
    cursor: pointer;
    font-size: 1rem;
    font: 1.25rem Arial, san-serif;
    border: 1px solid black;
    align-content:center;
    font-weight: bold;
    color: blue;
    text-align: center;
    outline: none;
    background-color: rgba(255,255,255,.5);
}

.output-grid > section {
    font-size: 1rem;
    text-align: center;
    font: 1rem Arial, san-serif;    
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba(136, 124, 124, 0.75);
}


.output-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.75);
}
.output-grid > blank {
    font-size: 1rem;
    text-align:center;     
}    
.output-grid > button:hover {
    background-color: rgba(255,255,255,.9);   
}


.sidebar1 {
    background:#00AAFF;
    height:95%;
    width: 0%;
    top:0;
    padding-top:60px;
    position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.sidebar1 {
    left: 0;
}
.sidebar2 {
    right: 0;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
}    

.bible-grid {
    display: grid;
    justify-content:flex-start;
    align-content:center;
    min-height: 25vh;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: minmax(60px,auto) repeat(40,32px);
}

.bible-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.75);
}
.bible-grid > blank {
    font-size: 1rem;
    text-align:center;     
}    
.bible-grid > button:hover {
    background-color: rgba(255,255,255,.9);   
}
.bible-grid > section {
    font-size: 1rem;
    font: 1rem Arial, san-serif;    
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba(136, 124, 124, 0.75);
}

.number-grid {
    display: grid;
    justify-content:flex-start;
    align-content:center;
    min-height: 25vh;
    grid-template-columns: repeat(1,150px);
    grid-template-rows: minmax(60px,auto) repeat(40,32px);
}
.number-grid > blank {
    font-size: 1rem;
    text-align:center;    
}
.number-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.75);
}
.number-grid > section {
    font-size: 1rem;
    font: 1rem Arial, san-serif;    
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba(136, 124, 124, 0.75);
}
.number-grid > button:hover {
    background-color: rgba(255,255,255,.9);   
}

.version-grid {
    display: grid;
    justify-content:flex-end;
    align-content:center;
    min-height: 25vh;
    grid-template-columns: repeat(1,150px);
    grid-template-rows: minmax(60px,auto) repeat(40,32px);
}
.version-grid > blank {
    font-size: 1rem;
    text-align:center;     
}
.version-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.version-grid > section {
    font-size: 1rem;
    font: 1rem Arial, san-serif;    
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba(136, 124, 124, 0.75);
}

.version-grid > section1 {
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    outline: none;
    background-color: rgba( 191, 176, 176, 0.75 );
}

.version-grid > button:hover {
    background-color: rgba(255,255,255,.9);   
}

#scrollable2 {
    height:100%;
    background:#ff00f5;
    width: auto;
    margin-left: 10px;
    margin-right: 0px;
    overflow:auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    grid-template-columns: 20px 1fr auto;     
}

footer {
    width: 100%;
    background: #00AAFF;
    font-size: 2vh; 
    text-align: center;    
    position: fixed; 
    bottom: 0;
    height: 5%;
}
